.body-home{
    margin: 0;
    padding: 0;
    color: #e6def1;
    background-size: cover;
    background-image: url('../assets/imgs/fundoHome.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.intro-site{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}
.conhecer-titulo{
    color:#d9bdb0;
    font-size: 46px;
    font-weight: 500;

}
.conhecer-texto{
    color: #c29d8b;
    font-size: 20px;
    font-weight: 500;
}
.conhecer-img{
    width: 280px;
    height: 280px;
}
.button-intro{
    display: flex;
    gap: 10px;
}
.conhecer-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: #0e0809;
    font-weight: 600;
    background-color: #b35151;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    text-decoration: none;
}
.conhecer-cursos:hover{
    transform: translateY(-2px);
    background-color: #b35151bd;
}
.conhecer-projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 40px;
    color: #e0a4a4;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #e0a4a4;
    text-decoration: none;
}
.conhecer-projeto:hover{
    transform: translateY(-2px);
    background-color: #e0a4a44a;
    transition: 300ms;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.trilha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0px;
    gap: 40px;
}
.trilha-titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trilha-titulo{
    color:#b35151;
    font-size: 40px;
    font-weight: 500;
    
}
.trilha-texto{
    color: #c29d8b;
    font-size: 20px;
    font-weight: 600;
    margin-top: -30px;
}
.trilha-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.trilha-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 80px;
    background-color: #3b1515;
    border-radius: 10px;
    border: 2px solid #c29d8b;
    color: #c29d8b;
}
.trilha-card:hover{
    transform: translateY(-2px);
    color: #c29d8b;
    background-color: #3b151590;
    border: 2px solid #c29d8b90;
    transition: 300ms;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.trilha-curso{
    color:#e0a4a4;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -6px;
}
.visitar-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    margin-top: 40px;
    background-color: #3b1515;
    border-radius: 10px;    
    font-size: 16px;
    font-weight: 700;
    color: #b35151;
    text-decoration: none;
}
.visitar-cursos:hover{
    transform: translateY(-2px);
    color: #b35151;
    background-color: #3b1515bb;
    transition: 300ms;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.valores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 580px;
    gap: 20px;
    background-color: #3b1515ad;
    color: #300f50;
}
.valores-titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.valores-titulo{
    color:#d9bdb0;
    font-size: 34px;
    font-weight: 600;
    
}
.valores-texto{
    color: #c29d8b;
    font-size: 18px;
    font-weight: 600;
    margin-top: -20px;
}
.valores-linha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.valores-card{
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 120px;
    background-color: #3b1515a2;
    border-radius: 10px;
    border: 2px solid #682424;
    color: #d9bdb0;
}
.valores-card:hover{
    transform: translateY(-2px);
    color: #3b1515;
    border: 2px solid #3b151593;
    background-color: #6824246b;
    transition: 300ms;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.valores-curso{
    padding: 0px 20px;
    font-weight: 700;
    color: #c29d8b;
}
.valores-descricao{
    padding: 0px 20px;
    color: #9b7e6d;
    font-size: 16px;
    font-weight: 560;
}